<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="APP">
    <label for="male">
        <input type="radio" id="male" v-model="gender" value="男">男
    </label>
    <label for="female">
        <input type="radio" id="female" v-model="gender" value="女">女
    </label>
    <br>
    <span>{{gender}}</span>
</div>
<script src="../js/vue.js"></script>

<script>
  const app = new Vue({
      el: '#APP',
      data:{
        gender: ''
      }
  })
</script>

</body>
</html>