<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="APP">
<!--    for是为了让label和input键值配对-->
  <label v-for="item in selections" :for="item">
      <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
  </label>
  <h2>{{hobbies}}</h2>
</div>
<script src="../js/vue.js"></script>

<script>
  const app = new Vue({
      el: '#APP',
      data:{
          //复选框
          hobbies: [],
          //单选框
          isAgreed: false,
          selections: [
              '篮球','乒乓球','足球','羽毛球'
          ]
      }
  })
</script>

</body>
</html>